@media screen and (max-width: 1200px) {
    .container {
        padding: 0 20px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 956px) {
    .container {
        padding: 0 20px;
    }
    .header__menu a {
        font-size: 15px;
    }
    .header__search p {
        font-size: 12px;
    }
    /* header content
    ========================================= */
    .header__content__textblock {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .header__content__texts h1 {
        font-size: 50px;
    }
    .header__content__texts p {
        font-size: 18px;
    }
    .header__content__texts a {
        font-size: 14px;
    }
    .header__content__img img {
        width: 500px;
    }
    .header__content__sponsor img {
        width: 100px;
        height: 70px;
    }
    /* the product
    ============================================= */
    .theproduct__texts h1 {
        font-size: 50px;
    }
    .theproduct__texts p {
        font-size: 14px;
    }
    .theproduct__text h1 {
        font-size: 28px;
    }
    .theproduct__text p {
        font-size: 14px;
    }
    .theproduct__text a {
        font-size: 16px;
    }
}

@media screen and (max-width: 955.99px) and (min-width: 756px) {
    .container {
        padding: 0 20px;
    }
    .header__logo img {
        width: 70px;
    }
    .header__menu a {
        font-size: 12px;
    }
    .header__search p {
        font-size: 10px;
    }
    /* header content
    ========================================= */
    .header__content__textblock {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .header__content__texts h1 {
        font-size: 40px;
        line-height: 50px;
        padding-bottom: 20px;
    }
    .header__content__texts p {
        font-size: 15px;
    }
    .header__content__texts a {
        font-size: 14px;
    }
    .header__content__img img {
        width: 370px;
    }
    .header__content__sponsor img {
        width: 80px;
        height: 60px;
    }
    /* the product
    ============================================= */
    .theproduct__texts {
        width: 350px;
    }
    .theproduct__texts h1 {
        font-size: 42px;
        padding-bottom: 30px;
    }
    .theproduct__texts p {
        font-size: 12px;
    }
    .theproduct__texts a {
        padding: 5px 6px;
    }
    .theproduct__texts2 {
        width: 350px;
        height: 400px;
    }
    .theproduct__text {
        width: 300px;
        margin-top: 20px;
    }
    .theproduct__img img {
        width: 60px;
    }
    .theproduct__text h1 {
        font-size: 25px;
    }
    .theproduct__text p {
        font-size: 12px;
    }
    .theproduct__text a {
        font-size: 15px;
    }
}

@media screen and (max-width: 755.99px) and (min-width: 512px) {
    .container {
        padding: 0 20px;
    }
    .header__logo img {
        width: 50px;
    }
    .header__menu a {
        font-size: 10px;
        padding-right: 20px;
    }
    .header__search p {
        font-size: 10px;
        padding: 5px 8px;
    }
    /* header content
    ========================================= */
    .header__content__textblock {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .header__content__texts h1 {
        font-size: 30px;
        line-height: 50px;
        padding-bottom: 20px;
    }
    .header__content__texts p {
        font-size: 15px;
    }
    .header__content__texts a {
        font-size: 14px;
    }
    .header__content__img img {
        width: 250px;
    }
    .header__content__sponsor img {
        width: 70px;
        height: 50px;
    }
    /* the product
    ============================================= */
    .theproduct__block {
        flex-direction: column;
    }
    .theproduct__texts {
        width: 80%;
    }
    .theproduct__texts h1 {
        font-size: 45px;
        padding-bottom: 30px;
    }
    .theproduct__texts p {
        font-size: 14px;
    }
    .theproduct__texts a {
        padding: 5px 6px;
    }
    .theproduct__texts2 {
        width: 400px;
        height: 450px;
    }
    .theproduct__text {
        width: 300px;
        margin-top: 20px;
    }
    .theproduct__img img {
        width: 60px;
    }
    .theproduct__text h1 {
        font-size: 28px;
    }
    .theproduct__text p {
        font-size: 15px;
    }
    .theproduct__text a {
        font-size: 15px;
    }
}

@media screen and (max-width: 511.99px) and (min-width: 300px) {
    .container {
        padding: 0 20px;
    }
    .header__logo img {
        width: 50px;
    }
    .header__menu a {
        font-size: 12px;
        display: none;
    }
    .header__search img {
        width: 30px;
        margin-right: 5px;
    }
    .header__search p {
        font-size: 8px;
        padding: 5px 7px;
    }
    .header__blocks {
        position: relative;
    }
    /* header mobile menu
    =================================== */
    .fa-align-justify {
        display: block;
        font-size: 20px;
        position: absolute;
        top: 10px;
        left: 50%;
        animation-name: align;
        animation-delay: 0.3s;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        transition: 2s ease;
        cursor: pointer;
    }
    @keyframes align {
        0% {
            left: 50%;
        }
        50% {
            left: 48%;
        }
        100% {
            left: 50%;
        }
    }
    .fa-close {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        transition: 0.3s ease;
        cursor: pointer;
    }
    .fa-close:hover {
        color: red;
        transition: 0.3s ease;
    }
    .header__mobile__menu {
        width: 100%;
        height: 70px;
        background-color: cyan;
        border-radius: 0 0 50px;
        display: flex;
        justify-content: start;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10000;
        transition: .5s ease;
        transform: translateY(-200%);
        animation-name: headermobile;
        animation-delay: .3;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    @keyframes headermobile {
        0% {
            background-color: cyan;
        }
        50% {
            background-color: rgb(0, 207, 207);
        }
        100% {
            background-color: cyan;
        }
    }
    .header__mobile__logo img {
        width: 50px;
        margin-right: 17px;
        margin-left: 10px;
    }
    .header__mobile__text a {
        font-family: Arial;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 10px;
    }
    /* header content
    ========================================= */
    .header__content__textblock {
        margin-top: 50px;
        margin-bottom: 50px;
        flex-direction: column;
    }
    .header__content__texts {
        width: 100%;
    }
    .header__content__texts h1 {
        font-size: 25px;
        line-height: 30px;
        padding-bottom: 10px;
    }
    .header__content__texts p {
        font-size: 12px;
    }
    .header__content__texts a {
        font-size: 10px;
        padding: 5px 8px;
        margin-bottom: 30px;
    }
    .header__content__img img {
        width: 100%;
    }
    .header__content__sponsor img {
        width: 40px;
        height: 30px;
    }
    /* the product
    ============================================= */
    .theproduct__block {
        flex-direction: column;
    }
    .theproduct__texts {
        width: 100%;
    }
    .theproduct__texts h1 {
        font-size: 35px;
        padding-bottom: 20px;
    }
    .theproduct__texts p {
        font-size: 10px;
    }
    .theproduct__texts a {
        padding: 5px 6px;
        font-size: 10px;
        width: 150px;
    }
    .theproduct__texts2 {
        width: 280px;
        height: 400px;
    }
    .theproduct__text {
        width: 230px;
        margin-top: 10px;
    }
    .theproduct__img img {
        width: 60px;
    }
    .theproduct__text h1 {
        font-size: 25px;
        padding-bottom: 30px;
    }
    .theproduct__text p {
        font-size: 12px;
    }
    .theproduct__text a {
        font-size: 13px;
    }
}