* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.header__mobile__menu {
    display: none;
}

.fa-align-justify,
.fa-close {
    display: none;
}


/* header top
================================= */

.header__blocks {
    width: 100%;
    height: 250px;
}

.header__block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.header__logo img {
    width: 100px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu a {
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-right: 50px;
}

.header__menu a:hover {
    color: cyan;
}

.header__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__search img {
    border-radius: 50px;
    cursor: pointer;
}

@keyframes search {
    0% {
        background-color: white;
    }
    50% {
        background-color: cyan;
    }
    100% {
        background-color: white;
    }
}

.header__search img:hover {
    animation-name: search;
    animation-delay: 0.3s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: 2s ease;
}

.header__search p {
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: #283337;
    color: white;
}

.header__search p:hover {
    background-color: gray;
}


/* header content
==================================== */

.header__content {
    width: 100%;
}

.header__content__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__content__textblock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

.header__content__texts {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.header__content__texts h1 {
    font-family: Times New Roman;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 1px;
    text-align: left;
    color: #283337;
    padding-bottom: 40px;
}

.header__content__texts p {
    font-family: Arial;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #40494D;
    padding-bottom: 30px;
}

.header__content__texts a {
    font-family: Arial;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    padding: 10px 15px;
    background-color: #283337;
    border-radius: 50px;
    width: 150px;
}

.header__content__texts a:hover {
    background-color: gray;
}

.header__content__sponsor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}


/* the product
============================= */

.theproduct__blocks {
    width: 100%;
}

.theproduct__block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

.theproduct__texts {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    width: 600px;
}

.theproduct__texts h1 {
    font-family: Times New Roman;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 1px;
    text-align: left;
    color: #283337;
    padding-bottom: 50px;
}

.theproduct__texts p {
    font-family: Arial;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #40494D;
    padding-bottom: 30px;
}

.theproduct__texts a {
    font-family: Arial;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    padding: 10px 15px;
    background-color: #283337;
    border-radius: 50px;
    width: 230px;
}

.theproduct__texts a:hover {
    background-color: gray;
}

.theproduct__texts2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3F7F4;
    width: 500px;
    height: 500px;
    margin-bottom: 50px;
}

.theproduct__img {
    margin-top: 50px;
}

.theproduct__text {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 50px;
}

.theproduct__text h1 {
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #283337;
    padding-bottom: 50px;
}

.theproduct__text p {
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #40494D;
    padding-bottom: 20px;
}

.theproduct__text a {
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: right;
}


/* ourresult
====================================================================== */

.ourresult__blocks {
    width: 100%;
}

.ourresult__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ourresult__toptext h1 {
    font-family: Times New Roman;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1px;
    text-align: center;
    color: #283337;
    padding-bottom: 50px;
}

.ourresult__texts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 150px;
}

.ourresult__text1,
.ourresult__text2,
.ourresult__text3 {
    width: 20%;
}

.ourresult__texts h1 {
    font-family: Arial;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: center;
    color: #283337;
}

.ourresult__texts p {
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #40494D;
}


/* the koin
===================================== */

.thekoin__blocks {
    width: 100%;
}

.thekoin__block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.thekoin__texts {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.thekoin__texts h1 {
    font-family: Times New Roman;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1px;
    text-align: left;
    color: #283337;
    padding-bottom: 50px;
}

.thekoin__texts p {
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #40494D;
    padding-bottom: 20px;
}

.thekoin__texts span {
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #40494D;
    padding-left: 30px;
    padding-bottom: 15px;
}

.thekoin__texts a {
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

.thekoin__video {
    width: 50%;
    height: 300px;
    background-color: #F3F7F4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.thekoin__videoplay {
    position: absolute;
    cursor: pointer;
    animation-name: thekoinplay;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes thekoinplay {
    0% {
        top: 28%;
        left: 38%;
    }
    25% {
        top: 28%;
        left: 42%;
    }
    50% {
        top: 32%;
        left: 42%;
    }
    75% {
        top: 32%;
        left: 38%;
    }
    100% {
        top: 28%;
        left: 38%;
    }
}

.thekoin__videologo img {
    width: 200px;
}


/* built for
==================================== */

.builtfor__blocks {
    width: 100%;
}

.builtfor__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.builfor__top {
    width: 100%;
    margin-bottom: 80px;
}

.builfor__top h1 {
    font-family: Times New Roman;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1px;
    text-align: center;
    color: #283337;
}

.builtfor__logos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* start block
======================================= */

.start__blocks {
    width: 100%;
}

.start__block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.start__texts {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start__texts h1 {
    font-family: Times New Roman;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1px;
    text-align: center;
    color: #283337;
    padding-bottom: 50px;
}

.start__texts p {
    font-family: Arial;
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #283337;
    padding-bottom: 60px;
}

.start__texts a {
    font-family: Arial;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    padding: 15px 30px;
    background-color: #283337;
    border-radius: 50px;
}

.start__texts a:hover {
    background-color: gray;
}


/* footer
========================== */

.footer__blocks {
    width: 100%;
    background-color: #101C21;
}

.footer__block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 550px;
}

.footer__left {
    margin-left: 50px;
}

.footer__block h1,
h2 {
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #878D90;
    padding-bottom: 20px;
}

.footer__block p {
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #CFD2D3;
    padding-bottom: 15px;
}

.footer__block a {
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    padding-bottom: 20px;
}

.footer__block a span {
    font-family: Arial;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    padding: 15px 30px;
    background-color: #283337;
    border-radius: 50px;
}

.footer__block a span:hover {
    background-color: gray;
}

.footer__left1 {
    padding-bottom: 30px;
}

.footer__left2 {
    margin-bottom: 30px;
}

.footer__left__button {
    margin-bottom: 100px;
}

.footer__left__contact a img {
    margin-right: 20px;
}


/* footer right
================================== */

.footer__right {
    display: flex;
    flex-direction: column;
}

.footer__right1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.footer__right1__text1,
.footer__right1__text2,
.footer__right1__logo {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-bottom: 50px;
}

.footer__right2 {
    margin-left: 10px;
}

.footer__email {
    width: 400px;
    height: 50px;
    border: none;
    background-color: white;
    margin-right: 10px;
    margin-bottom: 150px;
    font-size: 20px;
    padding-left: 10px;
}

.footer__right__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}